<h1><%= seller_and_buyer%> Present</h1>

<div class="box">
  <ul>
    <% @users.each do |user| %>
    <%if valid_relation?(user)%>
      <li>
        <%current = "(You)" if current_user?(user)%>
        <%= link_to "#{user.name.capitalize()} #{current}", user%>
      </li>
    <%end%>
    <% end %>
  </ul>
</div>
