// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com//
#messages {
  height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.message {
  margin-bottom: 10px;
}

.message.sent {
  text-align: right;
}

.message p {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  background-color: #f1f1f1;
}

.message.sent p {
  background-color: #d1ffd1;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box form{
  width: 50%;
}
//
input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: #333333;
  font-style: normal;
}